# library of osc message processing
python-osc
# functions as a lab streaming layer, for network real time data transmission
pylsl

numpy
# a module to represent brain wave data
mne

# nme requires scipy, matplotlib
scipy
matplotlib
pandas

# to design an experiment
psychopy
